.Details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    color: #000;
    padding-left: 0px;
}

.Details-container li {
    border: 1px solid;
    background-color: #b5cde0;
    padding-top: 7%;
    padding-bottom: 7%;
}

.insides {
    margin-left: 75%;
    margin-top: -5%;
}

.ico {
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    padding: 5%;
    background-size: 40%;
    color: #fff;
    font-weight: 900;
}